<div class="head">
  <div class="head__inner">
    <button class="js-sidebar-toggler head__logo-block" type="button">
      <div class="head__logo"><img src="images/logo.png" alt="Happy Partner"></div>
    </button>
    <div class="head__right">
      <div class="head__partner-info">
        <p class="head__partner-name">Happy partner</p>
        <p class="head__partner-id">Ваш ID: 26656559</p>
      </div>
      <div class="head__buttons">
        <a class="head__button" href="page_7.html">
          <svg class="head__button-icon" aria-hidden="true">
            <use xlink:href="#profile_edit" />
          </svg>
          <span class="head__button-text">Профиль</span>
        </a>
        <a class="head__button" href="#">
          <svg class="head__button-icon" aria-hidden="true">
            <use xlink:href="#logout" />
          </svg>
          <span class="head__button-text">Выйти</span>
        </a>
      </div>
    </div>
  </div>
</div>

<header class="header">
  <div class="header__inner">
    <div class="header__left">
      <h1 class="header__title">Мои ценности</h1>
      <div class="header__info">
        <p class="header__info-title">У вас 0 ценностей</p>
        <label class="checkbox-label checkbox-label--dark" for="active_pref">
          <input id="active_pref" name="active_pref" type="checkbox" checked>
          <span class="checkbox-label__icon"></span>
          <span class="checkbox-label__text">Только активные</span>
        </label>
      </div>
    </div>
    <div class="header__right">
      <a class="header__manage-button manage-button" href="#" title="Вид глазами клиента">
        <svg class="manage-button__icon" aria-hidden="true">
          <use xlink:href="#eye" />
        </svg>
      </a>
      <a class="header__manage-button manage-button" href="#" title="Комментарии">
        <svg class="manage-button__icon" aria-hidden="true">
          <use xlink:href="#comments" />
        </svg>
      </a>
      <button class="header__manage-button header__add-button button" type="button" data-fancybox="add_worth" data-src="#add_worth">Добавить</button>
      <button class="header__manage-button header__add-button button button--transparent" type="button">Загрузить XLS</button>
    </div>
  </div>
</header>
