<div class="head">
  <div class="head__inner">
    <button class="js-sidebar-toggler head__logo-block" type="button">
      <div class="head__logo"><img src="images/logo.png" alt="Happy Partner"></div>
    </button>
    <div class="head__right">
      <div class="head__partner-info">
        <p class="head__partner-name">Самое длинное название которое я смогла придумать</p>
        <p class="head__partner-id">Ваш ID: 26656559</p>
      </div>
      <div class="head__buttons">
        <a class="head__button" href="profile.html">
          <svg class="head__button-icon" aria-hidden="true">
            <use xlink:href="#profile_edit" />
          </svg>
          <span class="head__button-text">Профиль</span>
        </a>
      </div>
    </div>
  </div>
</div>
