<div id="client_added" class="popup popup--client_added">
  <button class="js-popup-close popup__close" type="button" title="Закрыть">
    <svg class="popup__close-icon" aria-hidden="true">
      <use xlink:href="#close" />
    </svg>
  </button>
  <p class="popup__title popup__title--big">Контакт успешно создан!</p>
  <p class="popup__text">Вы можете отправить повторную ссылку на приглашение в ISIUM с его страницы в разделе "Контакты"</p>
  <p class="popup__text"><a class="main-color no-decorate" href="#">Скопировать ссылку</a></p>
  <a class="button" href="#">Пейрейти в раздел</a>
</div>

<div id="crop-popup" class="popup popup--crop">
  <button class="js-popup-close popup__close" type="button" title="Закрыть">
    <svg class="popup__close-icon" aria-hidden="true">
      <use xlink:href="#close" />
    </svg>
  </button>
  <p class="form-title">Фотография для фотоопроса с выбором из 2 вариантов</p>
  <div class="img-container">
    <img src="" alt="">
  </div>
  <div class="buttons-block">
    <button class="button" type="button">Сохранить</button>
    <button class="button button--transparent" type="button">Отмена</button>
  </div>
</div>

<div id="forgot" class="popup popup--forgot">
  <button class="js-popup-close popup__close" type="button" title="Закрыть">
    <svg class="popup__close-icon" aria-hidden="true">
      <use xlink:href="#close" />
    </svg>
  </button>
  <form action="">
    <label class="form-label" for="forgot_email">
      <span class="form-label__text">Введите e-mail для восстановления пароля</span>
      <input id="forgot_email" class="input" name="forgot_email" type="text" value="">
    </label>
    <div class="popup__button-block">
      <button class="button button--wide" type="button" data-fancybox="forgot_send" data-src="#forgot_send">Восстановить пароль</button>
    </div>
  </form>
</div>

<div id="forgot_send" class="popup popup--forgot">
  <button class="js-popup-close popup__close" type="button" title="Закрыть">
    <svg class="popup__close-icon" aria-hidden="true">
      <use xlink:href="#close" />
    </svg>
  </button>
  <p class="popup__title popup__title--big">Пароль восстановлен</p>
  <p class="text-center">Ваш пароль успешно восстановлен, новый пароль<br> отправлен на почту <span class="secondary-color">username@use.com</span></p>
</div>

<div id="article_delete" class="popup popup--delete">
  <button class="js-popup-close popup__close" type="button" title="Закрыть">
    <svg class="popup__close-icon" aria-hidden="true">
      <use xlink:href="#close" />
    </svg>
  </button>
  <p class="text-center">Вы действительно хотите удалить<br> опубликованную новость?</p>
  <div class="popup__button-block">
    <button class="button button--transparent" type="button">Да</button>
    <button class="button" type="button">Нет</button>
  </div>
</div>

<div id="clear_range" class="popup popup--delete">
  <button class="js-popup-close popup__close" type="button" title="Закрыть">
    <svg class="popup__close-icon" aria-hidden="true">
      <use xlink:href="#close" />
    </svg>
  </button>
  <p class="text-center">Вы действи тельно хотите снять диапазон?<br> В этом случае, настроенная связь — пропадет</p>
  <div class="popup__button-block">
    <button class="button button--transparent" type="button">Да</button>
    <button class="button" type="button">Нет</button>
  </div>
</div>

<div id="file_process" class="popup popup--delete">
  <button class="js-popup-close popup__close" type="button" title="Закрыть">
    <svg class="popup__close-icon" aria-hidden="true">
      <use xlink:href="#close" />
    </svg>
  </button>
  <p class="text-center">Пользователи с незаполненными полями будут<br> удалены, вы готовы продолжить?</p>
  <div class="popup__button-block">
    <button class="button button--transparent" type="button">Продолжить</button>
    <button class="button" type="button">Вернуться и заполнить</button>
  </div>
</div>

<div id="delete_contact" class="popup popup--delete">
  <button class="js-popup-close popup__close" type="button" title="Закрыть">
    <svg class="popup__close-icon" aria-hidden="true">
      <use xlink:href="#close" />
    </svg>
  </button>
  <p class="text-center">Вы действительно хотите удалить<br> Гавриила Иванова?</p>
  <div class="popup__button-block">
    <button class="button button--transparent" type="button">Да</button>
    <button class="button" type="button">Нет</button>
  </div>
</div>
