<div class="sidebar">
  <button class="js-head-toggler sidebar__logo" type="button" title="Открыть меню"><img src="images/logo.png" alt="Happy Partner"></button>
  <nav class="menu">
    <ol class="menu__list">
      <li class="menu__list-item">
        <a class="menu__link is-active" href="#">
          <svg class="menu__link-icon" aria-hidden="true">
            <use xlink:href="#news" />
          </svg>
          <span class="menu__link-text">Лента</span>
        </a>
      </li>
      <li class="menu__list-item">
        <a class="menu__link" href="#">
          <svg class="menu__link-icon" aria-hidden="true">
            <use xlink:href="#clients" />
          </svg>
          <span class="menu__link-text">Контакты</span>
        </a>
      </li>
      <li class="menu__list-item">
        <a class="menu__link" href="#">
          <svg class="menu__link-icon" aria-hidden="true">
            <use xlink:href="#worth" />
          </svg>
          <span class="menu__link-text">Сценарии</span>
        </a>
      </li>
      <li class="menu__list-item">
        <a class="menu__link" href="#">
          <svg class="menu__link-icon" aria-hidden="true">
            <use xlink:href="#feed" />
          </svg>
          <span class="menu__link-text">Настройки</span>
        </a>
      </li>
      <li class="menu__list-item">
        <a class="menu__link" href="#">
          <svg class="menu__link-icon" aria-hidden="true">
            <use xlink:href="#feed" />
          </svg>
          <span class="menu__link-text">Тарифы</span>
        </a>
      </li>
      <li class="menu__list-item">
        <a class="menu__link" href="#">
          <svg class="menu__link-icon" aria-hidden="true">
            <use xlink:href="#feed" />
          </svg>
          <span class="menu__link-text">Поддержка</span>
        </a>
      </li>
    </ol>
  </nav>
</div>
