<div class="statistic">
  <button class="js-statistic-toggler statistic__toggler" type="button">Статистика по выбранным публикациям</button>
  <div class="statistic__dropdown">
    <div class="statistic__dropdown-inner">
      <div class="statistic__dropdown-item">
        <p class="article-link"><a href="#">Какая мы киса</a></p>
        <div class="bars-chart">
          <div class="stat-bar2 stat-bar2--small">
            <div class="stat-bar2__num">10</div>
            <div class="stat-bar2__bar-block">
              <div class="stat-bar2__bar stat-bar2__bar--type_10" style="width: 90%"><div class="stat-bar2__qnt">40</div></div>
            </div>
          </div>
          <div class="stat-bar2 stat-bar2--small">
            <div class="stat-bar2__num">9</div>
            <div class="stat-bar2__bar-block">
              <div class="stat-bar2__bar stat-bar2__bar--type_9" style="width: 35%"><div class="stat-bar2__qnt">18</div></div>
            </div>
          </div>
          <div class="stat-bar2 stat-bar2--small">
            <div class="stat-bar2__num">8</div>
            <div class="stat-bar2__bar-block">
              <div class="stat-bar2__bar stat-bar2__bar--type_8" style="width: 55%"><div class="stat-bar2__qnt">29</div></div>
            </div>
          </div>
          <div class="stat-bar2 stat-bar2--small">
            <div class="stat-bar2__num">7</div>
            <div class="stat-bar2__bar-block">
              <div class="stat-bar2__bar stat-bar2__bar--type_7" style="width: 10%"><div class="stat-bar2__qnt">4</div></div>
            </div>
          </div>
          <div class="stat-bar2 stat-bar2--small">
            <div class="stat-bar2__num">6</div>
            <div class="stat-bar2__bar-block">
              <div class="stat-bar2__bar stat-bar2__bar--type_6" style="width: 15%"><div class="stat-bar2__qnt">6</div></div>
            </div>
          </div>
          <div class="stat-bar2 stat-bar2--small">
            <div class="stat-bar2__num">5</div>
            <div class="stat-bar2__bar-block">
              <div class="stat-bar2__bar stat-bar2__bar--type_5" style="width: 10%"><div class="stat-bar2__qnt">4</div></div>
            </div>
          </div>
          <div class="stat-bar2 stat-bar2--small">
            <div class="stat-bar2__num">4</div>
            <div class="stat-bar2__bar-block">
              <div class="stat-bar2__bar stat-bar2__bar--type_4" style="width: 5%"><div class="stat-bar2__qnt">2</div></div>
            </div>
          </div>
          <div class="stat-bar2 stat-bar2--small">
            <div class="stat-bar2__num">3</div>
            <div class="stat-bar2__bar-block">
              <div class="stat-bar2__bar stat-bar2__bar--type_3" style="width: 20%"><div class="stat-bar2__qnt">8</div></div>
            </div>
          </div>
          <div class="stat-bar2 stat-bar2--small">
            <div class="stat-bar2__num">2</div>
            <div class="stat-bar2__bar-block">
              <div class="stat-bar2__bar stat-bar2__bar--type_2" style="width: 10%"><div class="stat-bar2__qnt">4</div></div>
            </div>
          </div>
          <div class="stat-bar2 stat-bar2--small">
            <div class="stat-bar2__num">1</div>
            <div class="stat-bar2__bar-block">
              <div class="stat-bar2__bar stat-bar2__bar--type_1" style="width: 10%"><div class="stat-bar2__qnt">4</div></div>
            </div>
          </div>
        </div>
        <div class="graph-chart">
          <div class="ct-chart" id="chart1"></div>
          <div class="chart-x-labels">
            <div class="chart-x-label">02/2020</div>
            <div class="chart-x-label">03/2020</div>
            <div class="chart-x-label">04/2020</div>
          </div>
          <p class="chart-title">Динамика средней оценки</p>
        </div>
      </div>
      <div class="statistic__dropdown-item">
        <p class="article-link"><a href="#">Качество нового мёда</a></p>
        <div class="donut">
          <div class="ct-chart" id="chart2"></div>
          <div class="donut__value">130</div>
        </div>
        <div class="donut-legend">
          <p>Ответило "Да" <span class="main-color">120</span></p><br>
          <p>Ответило "Нет" <span class="color-red">10</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
